{
  "openapi": "3.0.3",
  "info": {
    "title": "GoTimer API",
    "description": "Public REST API for GoTimer — 10 timer strategies, 28 presets across 6 categories. Manage timers, presets, embeds, and challenges.",
    "version": "2.0.0",
    "contact": {
      "name": "GoTimer",
      "url": "https://gotimer.org/developers",
      "email": "pubs@hazoservices.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://gotimer.org/api/v1",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as Bearer token. Obtain keys from your GoTimer admin panel."
      },
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key in X-API-Key header."
      }
    },
    "schemas": {
      "TimerStrategy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "countdown",
              "chess-clock",
              "round-timer",
              "interval",
              "multi-step",
              "ambient",
              "calculator-timer",
              "multi-timer",
              "turn-timer",
              "enlarger"
            ],
            "example": "countdown"
          },
          "name": {
            "type": "string",
            "example": "Countdown Timer"
          },
          "description": {
            "type": "string"
          },
          "default_config": {
            "type": "object"
          }
        }
      },
      "TimerPreset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "pomodoro"
          },
          "name": {
            "type": "string",
            "example": "Pomodoro Timer"
          },
          "description": {
            "type": "string"
          },
          "strategy": {
            "type": "string",
            "enum": [
              "countdown",
              "chess-clock",
              "round-timer",
              "interval",
              "multi-step",
              "ambient",
              "calculator-timer",
              "multi-timer",
              "turn-timer",
              "enlarger"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "board-games",
              "photography",
              "fitness",
              "wellness",
              "productivity",
              "kitchen"
            ]
          },
          "default_config": {
            "type": "object"
          }
        }
      },
      "Challenge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "enum": [
              "head-to-head",
              "group",
              "solo"
            ]
          },
          "timer_type": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "completed",
              "archived"
            ]
          },
          "is_public": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "join_code": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "data": {
            "type": "object"
          },
          "error": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/timers": {
      "get": {
        "summary": "List timer strategies",
        "description": "Returns all 10 timer strategies with names, descriptions, and default configurations. No authentication required.",
        "operationId": "listTimerStrategies",
        "tags": [
          "Timers"
        ],
        "responses": {
          "200": {
            "description": "List of timer strategies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timer_types": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TimerStrategy"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/timer-presets": {
      "get": {
        "summary": "List timer presets",
        "description": "Returns all 28 timer presets. Optionally filter by category. No authentication required.",
        "operationId": "listTimerPresets",
        "tags": [
          "Timers"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "board-games",
                "photography",
                "fitness",
                "wellness",
                "productivity",
                "kitchen"
              ]
            },
            "description": "Filter by category. Valid values: board-games, photography, fitness, wellness, productivity, kitchen"
          }
        ],
        "responses": {
          "200": {
            "description": "List of timer presets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "presets": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TimerPreset"
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid category parameter"
          }
        }
      }
    },
    "/timer-url": {
      "get": {
        "summary": "Generate a shareable timer URL",
        "description": "Creates a live timer URL that starts immediately. Accepts strategy IDs or preset IDs with optional parameter overrides. No authentication required.",
        "operationId": "getTimerUrl",
        "tags": [
          "Timers"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Strategy ID (e.g. countdown, chess-clock) or preset ID (e.g. pomodoro, hiit)."
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Duration in seconds."
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional label displayed on the timer."
          },
          {
            "name": "work",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Work period in seconds (interval strategy)."
          },
          {
            "name": "rest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Rest period in seconds (interval strategy)."
          },
          {
            "name": "rounds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Number of rounds (interval strategy)."
          },
          {
            "name": "started",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start timestamp. Defaults to now."
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If true, returns embed URL instead of regular URL."
          }
        ],
        "responses": {
          "200": {
            "description": "Timer URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "embed_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "timer_type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          }
        }
      }
    },
    "/timer-url/embed": {
      "get": {
        "summary": "Generate embeddable timer HTML",
        "description": "Returns an iframe HTML snippet and embed URL for a timer widget. Supports theme, size, and control customization. No authentication required.",
        "operationId": "getTimerEmbed",
        "tags": [
          "Timers"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Strategy ID or preset ID."
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Duration in seconds."
          },
          {
            "name": "theme",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "light",
                "dark",
                "auto"
              ],
              "default": "auto"
            },
            "description": "Widget theme."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "standard",
                "large"
              ],
              "default": "standard"
            },
            "description": "Widget size (compact: 300x250, standard: 480x400, large: 640x500)."
          },
          {
            "name": "controls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "minimal",
                "none"
              ],
              "default": "full"
            },
            "description": "Control buttons to show."
          },
          {
            "name": "autostart",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether timer starts automatically."
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional label displayed on the timer."
          }
        ],
        "responses": {
          "200": {
            "description": "Embed code generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "html": {
                          "type": "string"
                        },
                        "timer_type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          }
        }
      }
    },
    "/challenges": {
      "get": {
        "summary": "List public challenges",
        "description": "Returns all public challenges with scores. No authentication required.",
        "operationId": "listChallenges",
        "tags": [
          "Challenges"
        ],
        "responses": {
          "200": {
            "description": "List of public challenges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "challenges": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Challenge"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a challenge",
        "description": "Creates a new challenge. Requires API key authentication.",
        "operationId": "createChallenge",
        "tags": [
          "Challenges"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Challenge name"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "head-to-head",
                      "group",
                      "solo"
                    ],
                    "default": "head-to-head"
                  },
                  "timer_type": {
                    "type": "string",
                    "enum": [
                      "countdown",
                      "chess-clock",
                      "round-timer"
                    ],
                    "nullable": true
                  },
                  "is_public": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Challenge created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "challenge": {
                          "$ref": "#/components/schemas/Challenge"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/challenges/{id}": {
      "get": {
        "summary": "Get challenge details",
        "description": "Returns challenge details including leaderboard and game history. Only works for public challenges.",
        "operationId": "getChallenge",
        "tags": [
          "Challenges"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Challenge ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "challenge": {
                          "$ref": "#/components/schemas/Challenge"
                        },
                        "leaderboard": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "games": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "draws": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Challenge is private"
          },
          "404": {
            "description": "Challenge not found"
          }
        }
      }
    },
    "/challenges/{id}/join": {
      "post": {
        "summary": "Join a challenge",
        "description": "Join a group challenge using its join code. Requires API key authentication.",
        "operationId": "joinChallenge",
        "tags": [
          "Challenges"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Challenge ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "join_code"
                ],
                "properties": {
                  "join_code": {
                    "type": "string",
                    "example": "TIMER-1234",
                    "description": "The join code provided by the challenge creator"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Already a participant"
          },
          "201": {
            "description": "Joined challenge successfully"
          },
          "400": {
            "description": "Challenge does not support join codes or invalid request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "403": {
            "description": "Invalid join code"
          },
          "404": {
            "description": "Challenge not found"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Timers",
      "description": "Timer strategies, presets, URLs, and embeds"
    },
    {
      "name": "Challenges",
      "description": "Challenge management and leaderboards"
    }
  ]
}